@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

h2{
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-left: 60px;
}

#menuimage{
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.parent{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -3px;
  padding: 27px;
}

.menuname{
  font-size: 20px;
  margin-left: 25px;
  color: gray;
  font-weight: 800;

}

.particularfoodparent{
  display: flex;
  flex-wrap: wrap;
}

.selected{
  border: 2px solid red ;
}